<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if user.is_authenticated %}
      <title>Hello {{ request.user }}!</title>
    {% else %}
      <title>Welcome!</title>
    {% endif %}
</head>
<body style="text-align: center; font-family: Montserrat;">
    <div class="container align-middle">
        <br><br>
        <div class="row box">
            <div class="col-sm-1"></div>
            <div class="col-10 align-middle">
                <!-- <br><br><br> -->
                {% if user.is_authenticated %}
                <h1>Hello {{ request.user }}!</h1>
                <h2>First Name: {{ request.user.first_name }}</h2>
                <h2>Last Name: {{ request.user.last_name }}</h2>
                <h2>Email: {{ request.user.email }}</h2>
                <h2>Profile Photo</h2>
                <br>
                <img src="{{request.user.profile.profileImage}}" alt="user photo" class="img-fluid">
                <br> <br>
                <a href="/log-out"><button id="buttonStyle" type=button name="log-out" class="btn" style="font-size: 22px;">Log Out</button></a>
                {% else %}
                <h1>Hello There,</h1>
                <h1 style="font-size: 25px;">do you have an account?</h1>
                <br>
                <div class="row">
                <div class="col" style="text-align: right;">
                    <a href="/log-in"><button name="login" id="buttonStyle" type=button class="btn" style="font-size: 22px;">Log In</button></a>
                </div>
                <div class="col" style="text-align: left;">
                    <a href="/sign-up"><button name="signup" id="buttonStyle" type=button class="btn buttonStyle" style="font-size: 22px;">Sign Up</button></a>
                </div>
                <br><br>
            </div>
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <br><br><br>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>