<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Log In</title>
</head>
<body>
    <div class="container">
        <div class="row box" style="margin-top: 150px;">
            <div class="col-sm-1"></div>
            <div class="col-10">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h1 class="text">Username</h1>
                        <input type="text" class="form-control" name="username" maxlength="30" placeholder="Username" style="font-size: 25px;">
                        <br>
                        <h1 class="text">Password</h1>
                        <input type="password" class="form-control" name="passworddd" maxlength="30" placeholder="Password" style="font-size: 25px;">
                        <br>
                        <div style="text-align: center;">
                            <h2 class="invalid" style="text-align: center; color: red;">{{message}}</h2>
                            <button type="submit" id="buttonStyle" class="btn" name="log-in" style="font-size: 20px;">Log In</button>
                            <a href="/sign-up" id="buttonStyle" class="btn align-middle" style="font-size: 20px;">Sign Up</a>
                        </div>
                    </div>
                  </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <br><br>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>