<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Sign Up</title>
</head>
<body style="background-color: #ffe0ac; text-align: center;">
    <div class="container">
        <div class="row box" style="text-align: left; margin-top: 80px; font-size: 18px;">
            <div class="col-sm-1"></div>
            <div class="col-10">
                <h1 style="font-size: 25px;">Create New Account</h1>
                <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {% for field in form %}
                    <h2>{{field.label_tag}}</h2> 
                    {{field}}
                    <br><br>
                    {% endfor %} -->
                    {{ form.as_p }}
                    <div style="text-align: center;">
                        <br>
                        <a href="/log-in"><button id="buttonStyle" name="sign-me-up" class="btn" style="text-align:center; font-size: 25px;">Sign Up</button></a>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div style="text-align: center;">
            <br>
            <h2 style="font-family: Poppins; font-size: 15px; text-align: center;">Already have an account?</h2>
            <a href="/log-in"><button id="buttonStyle" name="go-login" class="btn" style="text-align:center; font-size: 15px;">Log In</button></a>
        </div>
        <br><br>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>