body {
    /* background-color: #a4c5c6; */
    background-image: linear-gradient(-90deg, #a4c5c6, #dcedc1);
    text-align: center; 
}

h1 {
    text-align: center;
    color: black;
    font-family: Poppins;
}

h2 {
    font-family: Montserrat;
    color: black;
    font-size: 12px;
    text-align: left;
}

#buttonStyle {
    background-color: #ffd3b6;
    color: #a4c5c6,;
    font-family: Poppins;
}

.box {
    background-color: whitesmoke;
    max-width: 100%;
    max-height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;
    color: black;
    vertical-align: middle;
    font-size: 25px;
    overflow: auto;
    border-radius: 20px;
}